@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.reveal h1 {
    font-family: 'Press Start 2P', sans-serif;
    text-transform: uppercase;
    color: gold;
    text-shadow: 2px 2px 10px black;
}

/* Class for greyed out text */
.greyed-out {
    color: #888888;
    opacity: 0.6;
}

/* Class for active/highlighted text */
.active-section {
    color: #31BAE9;
    font-weight: bold;
}

/* Class for completed sections */
.completed-section {
    color: #4CAF50; /* Green color for completed sections */
    text-decoration: line-through;
}

/* Teal highlight text */
.teal-text {
    color: #31BAE9;
}

/* Persistent Github Link */
.github-corner {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  font-size: 24px;
  z-index: 100;
}